.sitecon{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100dvh;
    background: var(--grey20);
    font-weight: 600;
    color: var(--cyan);
    font-size: 20px;
    font-family: "Merriweather", serif; // 300-900
    font-family: "Nata Sans", sans-serif; // 100-900
}
.pagecontent{
    width: 100%;
    display: flex;
    flex-direction: column;
    & main{
        max-width: 1920px;
        @media (min-width:1920px) {
            margin: 0 auto;
        }
    }
}