.sitecon{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100svh;
    background: -webkit-linear-gradient(270deg, var(--grey20), var(--grey10), var(--white));
    background: var(--grey20);
    font-weight: 600;
    color: var(--cyan);
    font-size: 20px;
    font-family: "Nata Sans", sans-serif; // 100-900
    font-family: "Merriweather", serif; // 300-900
}
.pagecontent{
    width: 100%;
    display: flex;
    justify-content: center;
}