.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    font-family: "Nata Sans", sans-serif; // 100-900
}

.modal {
    backdrop-filter: blur(10px);
    padding: 2rem;
    border: 2px solid var(--grey20);
    min-width: fluid-prop(550,320,1920,320);
    max-width: fluid-prop(550,320,1920,320);
    position: relative;
    &:has(.back){
        padding-top: 60px;
    }
}

.close {
    position: absolute;
    top: 8px;
    color: var(--white);
    rotate: 45deg;
    right: 14px;
    border: none;
    background: none;
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.5s;
    &:hover{
        transition: 0.5s;
        rotate: 180deg;
    }
}
.back{
    width: 20px;
    background-color: transparent;
    fill: white;
    position: absolute;
    top: 23px;
    left: 18px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        // translate: -10px;
        opacity: 0.5;
        transition: all 0.3s;
    }
}