.profile_not_found{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Nata Sans", sans-serif;
    & h1{
        & span{
            color: var(--pink);
        }
    }
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding-block: fluid-prop(60,40,1920,320);
    color: var(--pink);
}
.avatar_con{
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    & img, svg, g{
        max-height: 200px;
        min-height: 200px;
        aspect-ratio: 1 / 1;
    }
}
.profile_username{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    & span{
        font-size: fluid-prop(34,26,1920,320);

        font-weight: 600;
    }
    & p{
        display: flex;
        font-size: fluid-prop(22,18,1920,320);
        gap: 0.5rem;
        align-items: center;
        & h1{
            opacity: 0.5;
        }
        & svg{
            max-height: fluid-prop(30,25,1920,320);
            max-width: fluid-prop(30,25,1920,320);
        }
    }
}
.friends{
    font-size: fluid-prop(20,18,1920,320);
    font-weight: 600;
}
.profile_interact_con{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    & button{
        cursor: pointer;
        transition: all 0.3s;
        &:hover{
            opacity: 0.6;
            transition: all 0.3s;
        }
    }
}
.interact_btns{
    display: flex;
    gap: 0.5rem;
    & button {
        font-size: fluid-prop(20, 14, 1920, 320);
        font-weight: 600;
        height: fit-content;
        padding-inline: fluid-prop(20, 5, 1920, 320);
        padding-block: fluid-prop(15, 10, 1920, 320);
    }
}
.friends_modal{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & strong{
        font-size: fluid-prop(26,20,1920,320);
    }
    
}
.friends_item_con{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: fluid-prop(700,300,1920,320);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        background: var(--pink);
        border-radius: 5px;
    }
}
.friend_btn_remove {
    background-color: rgb(255 104 104);
    & button {
        color: var(--blue20);
    }
}

.friend_btn_add {
    background-color: rgb(106 189 91);
    & button {
        color: var(--blue20);
    }
}

.friend_btn_sent {
    background-color: rgb(240 255 129);
    & button{
        color: var(--blue20);
    }
}
.friend_btn_disabled{
    background-color: rgb(115 103 103);
    & button {
        color: var(--blue20);
    }
}
.friend_btn_received{
    background-color: rgb(240 255 129);
    & button {
        color: var(--blue20);
    }
}

.friend_item{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    & img ,svg{
        max-height: fluid-prop(50,40,1920,320);
        max-width: fluid-prop(50, 40, 1920, 320);
    }
    & button{
        font-size: fluid-prop(20,14,1920,320);
        font-weight: 600;
        height: fit-content;
        padding-inline: fluid-prop(20, 5, 1920, 320);
        padding-block: fluid-prop(15, 10, 1920, 320);
        color: var(--blue20);
    }

}
.friend_info{
    display: flex;
    gap: 1rem;
    transition: all 0.3s;
    &:hover{
        opacity: 0.6;
        transition: all 0.3s;
    }
}
.friend_info_wrap{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.friend_info_text{
    & span {
        display: block;
        max-width: fluid-prop(230, 110, 1050, 320);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: fluid-prop(18, 16, 1920, 320);
    }
    & p{
        text-wrap: balance;
        color: var(--cyan);
        font-size: fluid-prop(16,14,1920,320);
    }
}

.profile_status{
    color: var(--cyan);
}
.profile_username{
    & h6{
        color: var(--cyan);
        cursor: pointer;
        opacity: 0.5;
    }
}