* {
    padding: 0px;
    margin: 0px;
    border: none;
    list-style: none;
}
:global(body.noscroll) {
    overflow: hidden;
}

html {
    scrollbar-gutter: stable;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
a{
    color: inherit;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}



img,
svg {
    max-width: 100%;
    height: auto;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}
button{
    background-color: transparent;
    font-size: inherit;
    color: inherit;
    font-weight: inherit;
}
a {
    display: flex;
    width: fit-content;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: inherit;
    transition: background-color 9999s ease-in-out 0s;
}
input {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
    -webkit-text-fill-color: var(--pink);
    /* твой цвет текста */
    transition: background-color 9999s ease-in-out 0s;
}
// background-size: contain;
// background-repeat: no-repeat;
// background-size: cover;
// background-position: center;


:global(.toggle_active_reset){
    background-color: transparent !important;
}


