:root {
    --white: #FFF;
    --grey10: #595E63;
    --grey20: #343332;
    --grey30: #67665f;
    --light-grey: #7E8993;
    --blue10: #233C55;
    --blue20: #1c284c;
    --cyan: #CDF8FF;
    --pink: #ffb6ed;
    --error: rgb(255, 82, 82);
    --border: 1px solid var(--grey10);
}