.form_con_reset{
    display: flex;
    flex-direction: column;
    gap: fluid-prop(12, 8, 1920, 320);
    & p {
        text-wrap: balance;
        font-size: fluid-prop(18, 14, 1920, 320);
    }
    & h2{
        align-self: center;
    }
}
.form1{
    & p{
        color: var(--error);
    }
}
.form2{
    & p{
        color: var(--error);
        &:nth-child(2) {
            color: var(--cyan);
        }
    }
}
.form_item_row{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: fluid-prop(10, 6, 1920, 320);
    & label {
        font-size: fluid-prop(20, 15, 1920, 320);
        display: none;
    }
    & input {
        width: 100%;
        background-color: transparent;
        border: var(--border);
        color: var(--pink);
        font-size: fluid-prop(18, 14, 1920, 320);
        padding-block: fluid-prop(10, 8, 1920, 320);
        padding-inline: fluid-prop(18, 12, 1920, 320);
        transition: all 0.3s;
        &::placeholder {
            color: var(--grey10);
        }
        &:focus {
            border-color: var(--pink);
            transition: all 0.3s;
        }
    }
    & p {
        color: var(--error);
        font-size: fluid-prop(18, 14, 1920, 320);
    }
    &:has(p) {
        & input {
            border-color: var(--error);
        }
    }
}
.form_item_button{
    background-color: transparent;
    border: var(--border);
    color: var(--pink);
    width: 100%;
    font-size: fluid-prop(20, 16, 1920, 320);
    padding-block: fluid-prop(10, 8, 1920, 320);
    padding-inline: fluid-prop(18, 12, 1920, 320);
    transition: all 0.3s;
    cursor: pointer;

    &:hover {
        background-color: var(--grey20);
        transition: all 0.3s;
    }

    &:disabled {
        opacity: 0.2;
        cursor: not-allowed;
    }

    &:focus {
        border-color: var(--pink);
    }
}
.toggleButtons{
    display: flex;
    width: 100%;
    & button{
        background-color: var(--grey20);
        color: var(--pink);
        padding-block: fluid-prop(10, 8, 1920, 320);
        padding-inline: fluid-prop(18, 12, 1920, 320);
        border: var(--border);
        width: 100%;
        cursor: pointer;
        &:nth-child(1){
            border-right: none;
        }
        &:hover {
            background-color: var(--grey20);
            transition: all 0.3s;
        }
    }
}