.container{
    height: 5rem;
    color: var(--pink);
    font-family: "Nata Sans", sans-serif;
    display: flex;
    justify-content: right;
}
.menu{
    display: flex;
    flex-direction: column;
    width: min(70%, 280px);
    z-index: 9;
    position: absolute;
    backdrop-filter: blur(10px) brightness(0.3);
    left: 0;
    top: 0;
    bottom: 0;
    translate: -100%;
    transition: translate 0.3s;
    padding-top: 15px;
    gap: 1rem;
    border-right: var(--border);
    border-color: var(--pink);
    &.active_menu{
        translate: 0%;
    }
    @media (min-width: 1050px) {
        translate: 0;
        backdrop-filter: brightness(100%);
        border: none;
        padding: 0;
        position: static;
        background-color: transparent;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        height: 2rem;
        gap: 2rem;
    }
}
.item{
    display: flex;
    border: var(--border);
    border-color: var(--pink);
    color: var(--pink);
    background-color: transparent;
    corner-shape: bevel;
    height: fit-content;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0.8;
    border-left: none;
    padding: 10px;
    width: 90%;
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    @media (min-width: 1050px) {
        width: auto;
        border: var(--border);
        border-color: var(--pink);
        padding: 0px;
        justify-content: center;
        align-items: center;
        border-top: none;
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        padding-inline: 25px;
        padding-block: 15px;
        &:hover{
            opacity: 1;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}
.user{
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
    corner-shape: bevel;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-inline: 30px;
    padding-block: 15px;
    background-color: var(--grey20);
    border: var(--border);
    border-color: var(--pink);
    border-top: none;
    height: fit-content;
    font-weight: 700;
    & .profile_header_top{
        max-width: fluid-prop(200,75,550,320);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.noti{
    transition: all 0.5s;
    & svg{
        max-width: 30px;
        padding-top: 5px;
    }
    &:hover{
        opacity: 0.6;
        transition: all 0.5s;
        cursor: pointer;
    }
}
.profile{
    display: flex;
    align-items: center;
    color: var(--pink);
    gap: 0.5rem;
    font-size: fluid-prop(22,18,1920,320);
    color: var(--);
    transition: all 0.5s;
    cursor: pointer;
    & svg{
        max-width: 40px;
        color: var(--pink);
    }
    & img{
        max-width: 40px;
        min-width: 40px;
        max-height: 40px;
        min-height: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
    }
    &:hover{
        opacity: 0.6;
        transition: all 0.5s;
    }
}
.profile_button{
    display: flex;
    align-items: center;
    gap: 1rem;
    & img{
        max-width: 50px;
    }
}
.active{
    opacity: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}
.burger_con{
    width: 100%;
    @media (min-width: 1050px) {
        display: none;
    }
}
.burger{
    background-color: transparent;
    color: var(--pink);
    padding: fluid-prop(20,12,1050,320);
    cursor: pointer;
    & svg{
        max-width: 40px;
    }
}
.header_reg{
    cursor: pointer;
    transition: all 0.3s;
    &:hover{
        & span{
            opacity: 0.8;
            transition: all 0.3s;
        }
    }
}
.profile_name_drop_con{
    max-width: fluid-prop(253, 128, 550, 320);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.email_drop {
    gap: 10px;
    & svg {
        max-width: 20px;
        rotate: 135deg;
        fill: var(--pink);
    }
    font-size: 14px;
    opacity: 0.8;
    display: flex;
    & span{
        max-width: fluid-prop(253, 128, 550, 320);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}