.container{
    height: 5rem;
    color: var(--pink);
    font-family: "Nata Sans", sans-serif;
    display: flex;
    justify-content: right;
}
.menu{
    display: flex;
    flex-direction: column;
    width: min(70%, 280px);
    z-index: 11;
    position: absolute;
    backdrop-filter: blur(10px) brightness(0.3);
    left: 0;
    top: 0;
    bottom: 0;
    translate: -100%;
    transition: translate 0.3s;
    padding-top: 15px;
    gap: 1rem;
    border-right: var(--border);
    border-color: var(--pink);
    &.active_menu{
        translate: 0%;
    }
    @media (min-width: 1050px) {
        translate: 0;
        backdrop-filter: brightness(100%);
        border: none;
        padding: 0;
        z-index: 10;
        position: static;
        background-color: transparent;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        height: 2rem;
        gap: 2rem;
    }
}
.item{
    display: flex;
    border: var(--border);
    border-color: var(--pink);
    color: var(--pink);
    background-color: transparent;
    corner-shape: bevel;
    height: fit-content;
    transition: all 0.3s;
    cursor: pointer;
    opacity: 0.8;
    border-left: none;
    padding: 10px;
    width: 90%;
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    @media (min-width: 1050px) {
        width: auto;
        border: var(--border);
        border-color: var(--pink);
        padding: 0px;
        justify-content: center;
        align-items: center;
        border-top: none;
        border-radius: 15px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        padding-inline: 25px;
        padding-block: 15px;
        &:hover{
            opacity: 1;
            padding-top: 25px;
            padding-bottom: 25px;
        }
    }
}
.user{
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
    corner-shape: bevel;
    border-radius: 15px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-inline: 30px;
    padding-block: 15px;
    background-color: var(--grey20);
    border: var(--border);
    border-color: var(--pink);
    border-top: none;
    height: fit-content;
    font-weight: 700;
    & .profile_header_top{
        max-width: fluid-prop(90,70,1050,320);
        user-select: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @media (min-width:1050px) {
            max-width: fluid-prop(200,90,1920,1050);
        }
    }
}
.noti{
    transition: all 0.3s;
    position: relative;
    & svg{
        max-width: 30px;
        padding-top: 5px;
    }
}
.noti_lenght{
    cursor: pointer;
    border-radius: 100%;
    background-color: #ff3e3e;
    padding: 2px 5px;
    position: absolute;
    font-size: 11px;
    font-weight: 700;
    color: var(--grey20);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    width: 20px;
    left: -4px;
    top: -4px;
    &.noti_none{
        display: none;
    }
}
.noti_icon_con{
    &:hover{
        opacity: 0.6;
        transition: all 0.3s;
        cursor: pointer;
    }
}
.profile{
    display: flex;
    align-items: center;
    color: var(--pink);
    gap: 0.5rem;
    font-size: fluid-prop(22,18,1920,320);
    color: var(--);
    transition: all 0.3s;
    cursor: pointer;
    user-select: none;
    & svg{
        max-width: 40px;
        color: var(--pink);
    }
    & img, svg{
        max-width: 40px;
        min-width: 40px;
        max-height: 40px;
        min-height: 40px;
        object-fit: cover;
        object-position: center;
        border-radius: 100%;
    }
    &:hover{
        opacity: 0.6;
        transition: all 0.3s;
    }
}
.profile_container{
    z-index: 10;
}
.profile_button{
    display: flex;
    align-items: center;
    gap: 1rem;
    & img, svg{
        max-width: 50px;
    }
    & img:nth-child(1){
        border-radius: 50%;
        aspect-ratio: 1/1;
    }
}
.active{
    opacity: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}
.burger_con{
    width: 100%;
    @media (min-width: 1050px) {
        display: none;
    }
}
.burger{
    background-color: transparent;
    color: var(--pink);
    padding: fluid-prop(20,12,1050,320);
    cursor: pointer;
    & svg{
        max-width: 40px;
    }
}
.header_reg{
    cursor: pointer;
    transition: all 0.3s;
    & span{
        width: max-content;
    }
    &:hover{
        & span{
            opacity: 0.8;
            transition: all 0.3s;
        }
    }
}
.profile_name_drop_con{
    max-width: fluid-prop(253, 143, 1920, 1050);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.email_drop {
    gap: 10px;
    & svg {
        max-width: 20px;
        rotate: 135deg;
        fill: var(--pink);
    }
    font-size: 14px;
    opacity: 0.8;
    display: flex;
    & span{
        max-width: fluid-prop(253, 143, 1920, 1050);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.noti_con{
    display: flex;
    flex-direction: column;
    width: fluid-prop(350,270,500,320);
    max-width: 90vw;
}
.noti_item{
    font-size: fluid-prop(18,14,1920,320);
    display: flex;
    gap: 0.8rem;
    width: 100%;
    & svg, img{
        cursor: pointer;
        min-height: 50px;
        max-height: 50px;
    }
    & a{
        img,svg{
            border-radius: 50%;
            object-fit: cover;
            max-height: fluid-prop(50,30,500,320);
            min-height: fluid-prop(50, 30, 500, 320);
            max-width: fluid-prop(50, 30, 500, 320);
            min-width: fluid-prop(50, 30, 500, 320);
        }
    }
    & span{
        text-wrap: balance;
        & span{
            display: block;
            cursor: pointer;
            color: var(--cyan);
            max-width: fluid-prop(140,90,1920,320);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
.noti_item_active{
    background: rgba(209, 199, 202, 0.18);
    box-shadow: inset 0 0 0 1px rgba(255, 140, 180, 0.6);
}
.noti_int{
    display: flex;
    gap: 0.5rem;
    align-self: center;
    margin-left: auto;
    & button:nth-child(1) {
        color: rgb(216, 255, 158);
    }

    & button:nth-child(2) {
        color: rgb(255, 100, 100);
    }
    & svg{
        cursor: pointer;
        transition: all 0.6s;
        &:hover{
            opacity: 0.5;
            transition: all 0.6s;
        }
    }
}
.empty{
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fluid-prop(350, 270, 500, 320);
}
.friend_btn_disabled {
    opacity: 0.5;
    pointer-events: none;
}
