.home_container{
    display: flex;
    gap: 1rem;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}