.home_container{
    display: grid;
    grid-template-columns: 1fr;
    padding: fluid-prop(40, 20, 1920, 320);
    --gaphome: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
    gap: var(--gaphome);
    & section{
        border: var(--border);
        padding: fluid-prop(20,10,1920,320);
        width: 100%;
        height: 100%;
    }
    & button{
        border-color: var(--pink);
    }
    & h1{
        color: var(--cyan);
    }
    & h2{
        font-size: fluid-prop(20,16,1920,320);
        text-wrap: balance;
        color: var(--pink);
    }
    & h3{
        color: var(--cyan);
    }
}
.friends_invites_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
    & h2{
        padding-left: fluid-prop(20, 10, 1920, 320);
    }
}
.todo_container{
    grid-column: auto;
}

.lastdesks_container{
    grid-column: auto;
}
.friends_container{
    grid-column: auto;
}

@media (min-width:1150px) {
    .home_container{
        grid-template-columns: 1fr 1fr;
    }
    .lastdesks_container{
        grid-column: span 2;
    }
    .friends_container{
        grid-column: span 2;
    }
    .todo_container{
        grid-column: span 2;
    }
}
@media (min-width:1400px) {
    .lastdesks_container {
        grid-column: span 1;
    }

    .friends_container {
        grid-column: span 1;
    }
}
@media (min-width:1800px) {
    .home_container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .lastdesks_container {
        order: 2;
        grid-column: span 2;
    }
    .friends_container {
        order: 5;
        grid-column: span 2;
    }
    .desks_invites_container{
        order: 4;
    }
    .friends_invites_container{
        order: 3;
    }
    .todo_container {
        order: 6;
    }
}
