.home_container{
    display: grid;
    grid-template-columns: 1fr;

    padding: fluid-prop(40, 20, 1920, 320);
    --gaphome: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);

    gap: var(--gaphome);
    @media (min-width:1150px) {
        grid-template-columns: 1fr 1fr;
    }
    & section{
        border: var(--border);
        padding: fluid-prop(20,10,1920,320);
        width: 100%;
    }
    & button{
        border-color: var(--pink);
    }
    & h1{
        color: var(--pink);
    }
    & h2{
        font-size: fluid-prop(20,16,1920,320);
        text-wrap: balance;
    }
    & h3{
        color: var(--pink);
    }
}
.welcome_container{
    grid-column: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    & button{
        width: 100%;
    }
    & h1{
        font-size: fluid-prop(32,20,1920,320);
    }
    @media (min-width:1150px) {
        grid-column: span 2;
        & button{
            width: fit-content;
        }
    }
}
.left{
    gap: var(--gaphome);
    display: grid;
    grid-template-columns: 1fr;
}
.right{
    gap: var(--gaphome);
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width:1150px) {
        grid-template-columns: 1fr 1fr;
    }
}
.todo_container{
    grid-column: auto;
    @media (min-width:850px) {
        grid-column: span 2;
    }
}


.desks_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.desks_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}
.desks_item{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & img, svg{
        max-width: 100%;
        max-height: 90px;
        min-width: 100%;
        min-height: 90px;
        object-fit: cover;
        object-position: center;
    }
    & svg{
        background-color: var(--grey10);
        padding-block: 3px;
    }
    @media (min-width:540px) {
        & svg{
            background-color: transparent;
            padding: 0;
        }
    }
    & h2{
        max-width: fluid-prop(300,200,1920,320);
    }
    & p{
        max-width: 500px;
        text-wrap: balance;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    @media (min-width:540px) {
        flex-direction: row;
        & img, svg{
            max-width: 80px;
            max-height: 80px;
            min-width: 80px;
            min-height: 80px;
        }
    }
}
.board_info_con{
    width: 100%;
    & h3{
        color: var(--pink);
        font-size: fluid-prop(24,18,1920,320);
    }
    & p{
        font-size: fluid-prop(28,14,1920,320);
    }
}
.desks_empty{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}