.home_container{
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width:1440px) {
        grid-template-columns: 1fr 1fr;
    }
    & section{
        border: var(--border);
    }
}
.welcome_container{
    grid-column: auto;
    @media (min-width:1440px) {
        grid-column: span 2;
    }
}
.left{
    display: grid;
    grid-template-columns: 1fr;
}
.right{
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width:1440px) {
        grid-template-columns: 1fr 1fr;
    }
}
.todo_container{
    grid-column: span 2;
}