.auth{
    background-color: transparent;
    color: var(--pink);
    font-size: 2rem;
    border: var(--border);
    padding-inline: fluid-prop(20,15,1920,320);
    padding-block: fluid-prop(10,8,1920,320);
    transition: all 0.3s;
    cursor: pointer;
    font-family: "Nata Sans", sans-serif;
    &:hover{
        transition: all 0.3s;
        opacity: 0.6;
    }
    & button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}
.mini{
    color: var(--pink);
    transition: all 0.3s;
    cursor: pointer;
    font-family: "Nata Sans", sans-serif;
    &:hover {
        transition: all 0.3s;
        opacity: 0.6;
    }
    border: var(--border);
    font-size: fluid-prop(20, 14, 1920, 320);
    height: fit-content;
    padding-inline: fluid-prop(20, 5, 1920, 320);
    padding-block: fluid-prop(15, 10, 1920, 320);
}
