.wrapper{
    position: relative;
}
.wrapper_desktop{}
.wrapper_mobile{}
.menu{
    position: absolute;
    top: calc(100% + 15px);
    background-color: var(--grey20);
    border: var(--border);
    border-color: var(--pink);
    z-index: 50;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-height: 42vh;
    overflow-y: auto;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        background: var(--pink);
        border-radius: 5px;
    }
    &.menu.up{
        min-width: 120px;
    }
    &.menu.upDel{
        min-width: 120px;
    }
    &.menu.middleleft{
        min-width: 120px;
    }
    &.menu.middleleftTop{
        min-width: 120px;
    }
}
.menu.fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
}
.menu.up{
    top: auto;
    bottom: calc(100% + 16px);
}
.menu.middleleft{
    top: auto;
    bottom: -60%;
    right: calc(100% + 5px);
}
.menu.middleleftTop{
    top: 0;
    bottom: auto;
    right: calc(100% + 5px);
}
.menu.upDel{
    top: auto;
    bottom: calc(100% - 1px);
}
.menu.noti{
    align-items: stretch;
    justify-content: flex-start;
}
.item{
    padding: 10px;
    transition: all 0.3s;
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    cursor: pointer;
    &:not(:last-child) {
        border-bottom: var(--border);
        border-color: var(--pink);
    }
    .wrapper_desktop &:hover{
        background-color: var(--grey10);
        transition: all 0.3s;
    }
}
.left {
    left: 0;
}

.middle {
    left: 50%;
    transform: translateX(-50%);
}

.right {
    right: 0;
}
.profile{
    &.right{
        right: -31px
    }
}
