.wrapper{
    position: relative;
}
.menu{
    position: absolute;
    top: calc(100% + 15px);
    background-color: var(--grey20);
    border: var(--border);
    border-color: var(--pink);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    max-height: 42vh;
    overflow-y: auto;
    box-sizing: border-box;

    &::-webkit-scrollbar {
        width: 10px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        cursor: pointer;
        background: var(--pink);
        border-radius: 5px;
    }
}
.menu.noti{
    align-items: stretch;
    justify-content: flex-start;
}
.item{
    padding: 10px;
    transition: all 0.3s;
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    cursor: pointer;
    &:not(:last-child) {
        border-bottom: var(--border);
        border-color: var(--pink);
    }
    &:hover{
        background-color: var(--grey10);
        transition: all 0.3s;
    }
}
.left {
    left: 0;
}

.middle {
    left: 50%;
    transform: translateX(-50%);
}

.right {
    right: 0;
}
.profile{
    &.right{
        right: -31px
    }
}
