.welcome{
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    gap: 5rem;
    padding-inline: fluid-prop(25,14,1920,320);
}
.headline{
    display: flex;
    font-size: 1.6rem;
    flex-direction: column;
    gap: 0.5rem;
    & h2{
        color: var(--pink);
    }
}
.buttons{
    font-family: "Nata Sans", sans-serif; // 100-900
    display: flex;
    gap: 2rem;
    &:hover button {
        opacity: 0.7;
    }

    button:hover {
        opacity: 1;
    }
}